<form [formGroup]="attendeeForm">
  <div
    class="text-center" 
    *ngIf="attendeesArray.controls.length === 0">
    Brak uczestników!
  </div>
  <div 
    class="attendee-container w-full" 
    *ngFor="let group of attendeesArray.controls; let i = index" 
    formArrayName="attendees">
    <div 
      [formGroupName]="i" 
      class="grid gap-2">
      <div >
        <div class="text-xs">Imię</div>
        <input type="text" class="name" formControlName="name">
      </div>
      <div >
        <div class="text-xs">Email</div>
        <input type="text" class="email" formControlName="email">
      </div>
      <i (click)="removeAttendee(i)" class="fa-solid fa-circle-xmark"></i>
    </div>
  </div>
</form>
<div class="flex mt-5">
  <button 
    class="add-attendee btn m-auto" 
    (click)="addAttendee()">
    Dodaj <i class="fa-solid fa-plus text-xs"></i>
  </button>
</div>