<form [formGroup]="attendeeFormService.attendeeForm">
  <ng-container *ngIf="attendees$ | async as attendees">
    <div
      class="text-center" 
      *ngIf="attendees.length === 0">
      Brak uczestników!
    </div>
  </ng-container>
  <div 
    class="w-full mb-6" 
    *ngFor="let group of attendees$ | async; let i = index" 
    formArrayName="attendees">
    <hr>
    <div 
      [formGroupName]="i" 
      class="grid attendee-container  gap-2 mt-2">
      <div>
        <div class="text-xs">Imię</div>
        <input type="text" class="name" formControlName="name">
        <div
          *ngIf="
            group.get('name').touched && 
            group.get('name').errors as errors" 
          class="text-xs errors">
          <div *ngIf="errors['required']">
            Pole wymagane*
          </div>
        </div>
      </div>
      <div>
        <div class="text-xs">Email</div>
        <input type="text" class="email" formControlName="email">
        <div
          *ngIf="
            group.get('email').touched && 
            group.get('email').errors as errors" 
          class="text-xs errors">
          <div *ngIf="errors['required']">
            Pole wymagane*
          </div>
          <div *ngIf="errors['email']">
            Niepoprawny format*
          </div>
        </div>
      </div>
      <i 
        (click)="removeAttendee(i)" 
        class="fa-solid fa-circle-xmark remove-attendee col-start-3 row-start-1 row-end-3"></i>
      <div class="col-start-1 col-end-3">
        <div class="text-xs">Preferowane prezenty (opcjonalne)</div>
        <input 
          type="text" 
          class="preferredGifts" 
          formControlName="preferredGifts">
      </div>
    </div>
  </div>
</form>
<div class="flex mt-5 flex-col" *ngIf="attendees$ | async as attendees">
  <div
    class="m-auto errors"
    *ngIf="attendeeFormService.attendeeForm.get('attendees').errors as errors">
    <div *ngIf="!errors['arrayLengthIsEven'] && attendees.length > 0">
      Liczba uczestników losowania musi być parzysta!
    </div>
  </div>
  <button 
    class="add-attendee btn m-auto" 
    (click)="addAttendee()">
    Dodaj <i class="fa-solid fa-plus text-xs"></i>
  </button>
</div>

<div 
  *ngIf="loading"
  class="w-screen h-screen grid fixed inset-0">
  <div class="spinner place-self-center"></div>
</div>

<div 
  *ngIf="emailsDelivered"
  class="w-screen h-screen grid fixed inset-0">
  <div class="pop-up place-self-center flex flex-col items-center">
    <div class="text-center">Wiadomości zostały dostarczone do odbiorców!</div>
    <div 
      (click)="emailsDelivered = false" 
      class="text-center mt-3 close-pop-up">
      Zamknij
    </div>
  </div>
</div>

<div 
  *ngIf="errorOccured"
  class="w-screen h-screen grid fixed inset-0">
  <div class="pop-up place-self-center flex flex-col items-center">
    <div class="text-center">Podczas wysyłania maili wystąpił błąd! Spróbuj ponownie później.</div>
    <div 
      (click)="errorOccured = false" 
      class="text-center mt-3 close-pop-up">
      Zamknij
    </div>
  </div>
</div>