
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$xmas-stocking-primary: mat.define-palette(mat.$indigo-palette);
$xmas-stocking-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$xmas-stocking-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$xmas-stocking-theme: mat.define-light-theme((
  color: (
    primary: $xmas-stocking-primary,
    accent: $xmas-stocking-accent,
    warn: $xmas-stocking-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($xmas-stocking-theme);

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

input {
  border: 2px solid grey;
  border-radius: 3px;
  height: 2.3rem;
  width: 100%;
}

input.ng-invalid.ng-touched {
  border-color: red;
}

.btn {
  border: 2px;
  border-radius: 100px;
  background-color: #e61623;
  color: white;
  padding: 0.5rem;
  min-width: 5rem;
}

.btn:disabled {
  background-color: grey;
}

h1 {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-size: 26px;
  text-align: center;
}

.errors {
  color: red;
}

.pop-up {
  border-radius: 8px;
  background-color: white;
  box-shadow: 0px 5px 10px 1px rgba(217, 217, 217, 0.5);
  padding: 20px;
  width: 70%;
}

.close-pop-up {
  border-radius: 8px;
  background-color: white;
  padding: 0.5rem;
  color: white;
  background-color: #e61623;
  box-shadow: 0px 5px 10px 1px rgba(217, 217, 217, 0.5);
}

//spinner

.spinner {
  font-size: 18px;
  border: 0.75em solid #df0918;
  border-left: 0.75em solid transparent;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
